html {
  box-sizing: border-box;
}

:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --text-color: #757575;
  --section-bg-color: #f5f4fa;
  --bg-color: #2f303a;
  --info-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  --sb-track-color: #e7f1f5;
  --sb-thumb-color: #9da4a9;
  --sb-size: 8px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);

}
.modal-content {
  transform: translate(-0%, -15%);
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 4px;
  width: 528px;
  height: 581px;
  margin-bottom: 100px;
}
.close {
  width: 18px;
  height: 18px;
  float: right;
}
.modal-title {
  font-size: 20px;
  text-align: center;
  color: var(--main-color);
  margin-top: 20px;
}
.modal-form {
  margin-top: 10px;
}
.modal-form-label {
  display: block;
  font-size: 12px;
  color: var(--text-color);
  margin-bottom: -10px;
  margin-top: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.agree-label {
  margin-top: 24px;
  font-size: 14px;
}
.modal-form-input {
  width: 488px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 40px;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus ~ .modal-icon,
.modal-icon:focus {
  fill: var(--accent-color);
  outline: var(--accent-color);
}

.modal-icon:focus {
  fill: var(--accent-color);
}

.input-wrapper {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 11px;
  left: 15px;
}

.modal-textarea {
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
}

.modal-textarea::placeholder {
  font-size: 12px;
}
.modal-checkbox {
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-color);
  margin-top: 25px;
}
.agree-wrap {
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.agree-label-link {
  color: var(--accent-color);
  text-decoration: underline;
}
.modal-button {
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.header-position {
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
}

.logo-span {
  color: var(--accent-color);
}
.logo {
  display: flex;
  color: var(--main-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  font-family: Raleway, sans-serif;
}
.footer-logo {
  display: block;
  color: white;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
.contact-list {
  display: flex;
  column-gap: 50px;
  align-items: center;
  list-style: none;
  margin-left: 25%;
  color: var(--text-color);
}
.contact-item a {
  color: var(--paragraph-color);
  text-decoration: none;
}
.contact-item:hover {
  color: var(--accent-color);
  fill: #2186d9;
}
.header-icon {
  width: 16px;
  height: 12px;
  margin-right: 2px;
}
.nav-list {
  display: flex;
  margin-left: 93px;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}
.nav-link {
  color: var(--main-color);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--accent-color);
}
.underline {
  position: relative;
  color: var(--accent-color);
}

.underline::after {
  content: "";
  position: absolute;
  bottom: -31px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  z-index: 1;
}
.hero-section {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  color: var(--info-color);
  background-image: url(../images/bg-img.jpg);
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.hero-title {
  width: 696px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  margin-bottom: 30px;
}
.hero-button {
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  display: flex;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--info-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-button:hover {
  background-color: #2186d9;
  cursor: pointer;
}
.advatage-list {
  padding-top: 94px;
  display: flex;
  list-style: none;
  align-items: flex-start;
  column-gap: 30px;
  justify-content: center;
}
.advantage-icon-box {
  display: flex;
  background-color: var(--section-bg-color);
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
}

.advantage-icon {
  width: 70px;
}
.advantage-heading {
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 10px;
}
.advatage-text {
  width: 270px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  color: var(--text-color);
}
.wwd-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-top: 102px;
}
.wwd-list {
  padding-top: 50px;
  display: flex;
  list-style: none;
  justify-content: center;
  column-gap: 30px;
  /* padding-bottom: 94px; */
}
.wwd-desc-wrap {
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  position: relative;
  top: -70px;
}
.wwd-description {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 107px;
  padding-right: 107px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--info-color);
}
.wwd-wide {
  padding-left: 93px;
  padding-right: 93px;
}
.team-section {
  width: 100%;
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 55px;
}
.team-list {
  justify-content: center;
  column-gap: 30px;
  list-style: none;
  display: flex;
}
.team-item {
  background-color: white;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  flex-basis: calc(100% / 4 - 30px);
}

.team-name,
.team-job {
  text-align: center;
  font-size: 16px;
}
.team-name {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
  letter-spacing: 0.48px;
  color: var(--main-color);
}
.team-job {
  margin-bottom: 15px;
  color: var(--text-color);
  letter-spacing: 0.48px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.team-socials {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.team-social { 
  padding-bottom: 30px;
  display: flex;
  cursor: pointer;
}
.team-link {
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-link:hover, .team-link:focus {
  background-color: var(--accent-color);
}

.team-link:hover .social-icon {
  fill: #fff;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 50px;
}
.clients-list {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}
.clients-item {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  cursor: pointer;
}
.clients-item:hover, .clients-logo:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.clients-logo {
  fill: var(--text-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}
.footer-pos {
  display: flex;
  column-gap: 70px;
  align-items: flex-start;
}
.contact-link {
  margin-bottom: 9px;
  color: var(--info-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.contact-link:hover {
  color: var(--accent-color);
}
.mail,
.number {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.footer-links {
  display: flex;
  column-gap: 10px;
}
.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 12px 12px 12px;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  
}
.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--info-color);
}
.footer-link:hover {
  background-color: var(--accent-color);
}
.join-text {
  text-transform: uppercase;
  color: var(--info-color);
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 10px;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-form-label {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-form-wrap {
  width: 372px;
  margin-top: 10px;
}

.footer-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: #ffffff00;
  padding-left: 16px;
}

.footer-form-input::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}



.footer-form-button {
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.footer-form > button:hover {
  background-color: #2186d9;
}




/* Portfolio page styles */
.projects-section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-button {
  border: none;
  padding: 6px 23px;
  border-radius: 4px;
  line-height: 1.62;
  letter-spacing: 0.48px;
  background-color: var(--section-bg-color);
  color: var(--main-color);
  margin-left: 8px;
}
.filter-button:hover {
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
}
.projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-item {
  border: 1px solid #eee;
  flex-basis: calc(100% / 3 - 30px);
}
.projects-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.overlay-container {
  position: relative;
}
.overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(33, 150, 243, 0.9);
  justify-content: center;
  align-items: center;
}
.overlay-container:hover .overlay {
  opacity: 1;
}
.overlay-text {
  color: #fff;
  font-size: 18px;
  line-height: 156%;
  margin-left: 24px;
  margin-right: 24px;
  width: 324px;
}
.projects-img {
  width: 100%;
}
.projects-title {
  margin-bottom: 4px;
  margin-left: 24px;
  margin-top: 20px;
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}
.projects-tag {
  padding-bottom: 20px;
  margin-left: 24px;
  color: var(--text-color);
  line-height: 1.875;
  letter-spacing: 0.48px;
}
